{% extends "foodsaviour/base.html" %} {% load static} {% block content %}

<!-- LInking CSS File -->
<link
  href="{% static 'foodsaviour/login.css'%}"
  rel="stylesheet"
  type="text/css"
/>

<!-- HTML BODY CONTENT -->
<div class="body">
  <!-- Login Card -->
  <div class="card mx-auto">
    <div class="card-body">
      <!-- Card Title -->
      <h5 class="card-title">User Login</h5>

      <!-- Email Form -->
      <div class="form-floating name-form">
        <input
          type="name"
          id="name"
          class="form-control"
          placeholder="e.g. Kiwanuka"
        />
        <label for="name" class="form-label">Email:</label>
      </div>

      <!-- Password Form -->
      <div class="form-floating name-form">
        <input
          type="name"
          id="name"
          class="form-control"
          placeholder="e.g. jordan@gmail.com"
        />
        <label for="name" class="form-label">Password:</label>
      </div>

      <!-- Signin Trouble -->
      <div class="trouble">
        <span class="trouble-text text-muted">Having trouble signing in?</span>
        <a class="trouble-reset text-danger" href="#">Reset password</a>
      </div>

      <!-- Sign in Button -->
      <a href="#" class="btn btn-outline-success sign-in">Sign in</a>

      <!-- New Account -->
      <div class="new-account">
        <span class="new-account-text text-muted">Don't have an account?</span>
        <a href="#" class="new-account-link text-success">Create Now &rarr;</a>
      </div>
    </div>
  </div>
</div>

<!-- Linking JS File -->
<script src="{% static 'foodsaviour/login.js'%}"></script>

{% endblock content%}
