{% extends "foodsaviour/base.html" %} {% load static %} {% block content %}

<!-- LInking CSS File -->
<link href="{% static 'foodsaviour/css/login.css'%}" rel="stylesheet" type="text/css" />

<!-- PROJECT -->
<!-- HTML BODY CONTENT -->
<!-- LOGIN FORM -->
<div class="body">
  <div class="form-container">
    <form class="form mx-auto bg-white" id="login" action="" method="POST">
      {% csrf_token %}
      <!-- Form Title -->
      <h5 class="form-title">User Login</h5>

      <!-- Email Form -->
      <div class="form-floating email-form">
        <input type="email" id="exampleInputEmail1" class="form-control input-text" placeholder="jordan@gmail.com" name="email" />
        <label for="exampleInputEmail1" class="form-label input-text">Email:</label>
      </div>

      <!-- Password Form -->
      <div class="form-floating password-form">
        <input type="password" id="exampleInputPassword1" class="form-control input-text" placeholder="e.g. Kiwanuka" name="password" />
        <label for="exampleInputPassword1" class="form-label input-text">Password:</label>
      </div>

      <!-- Sign in Button -->
      <button class="btn btn-outline-success sign-in" id="submit" for="login" type="submit">
        Sign in
      </button>

      <!-- Signin Trouble -->
      <div class="trouble">
        <span class="trouble-text text-muted">Having trouble signing in?</span>
        <a class="trouble-reset text-danger" href="{% url 'resetpassword' %}">Reset password</a>
      </div>

      <!-- New Account -->
      <div class="new-account">
        <span class="new-account-text text-muted">Don't have an account?</span>
        <a href="#" class="new-account-link text-success">Create Now &rarr;</a>
      </div>
    </form>
  </div>
</div>

<!-- Linking JS File -->
<script src="{% static 'foodsaviour/js/login.js'%}"></script>

{% endblock content%}