{% extends "foodsaviour/base.html" %} {% block content %}
<!-- Linking Bootstrap -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>

<!-- LInking CSS File -->
<link href="../../static/foodsaviour/login.css" rel="stylesheet" />

<!-- HTML BODY CONTENT -->
<div class="body">
  <div class="container-fluid nav-container mg--small">
    <!--NavBar-->
    <nav class="navbar navbar-expand bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><i class="fa-solid fa-leaf" style="color: #415d34"></i>
          <b>Food Saviour</b></a
        >
        <div class="navbar-collapse collapse" id="navigation">
          <div class="navbar-nav ms-auto">
            <a class="nav-link px-3" href="#">About</a>
            <a class="nav-link px-3" href="#">Contact</a>
            <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}" class="px-3 register-button-link"
              ><button
                class="btn btn-outline-success register-button"
                type="button"
              >
                Register
              </button></a
            >
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Login Card -->
  <div class="card mx-auto">
    <div class="card-body">
      <!-- Card Title -->
      <h5 class="card-title">User Login</h5>

      <!-- Email Form -->
      <div class="form-floating name-form">
        <input
          type="name"
          id="name"
          class="form-control"
          placeholder="e.g. Kiwanuka"
        />
        <label for="name" class="form-label">Email:</label>
      </div>

      <!-- Password Form -->
      <div class="form-floating name-form">
        <input
          type="name"
          id="name"
          class="form-control"
          placeholder="e.g. jordan@gmail.com"
        />
        <label for="name" class="form-label">Password:</label>
      </div>

      <!-- Signin Trouble -->
      <div class="trouble">
        <span class="trouble-text text-muted">Having trouble signing in?</span>
        <a class="trouble-reset text-danger" href="#">Reset password</a>
      </div>

      <!-- Sign in Button -->
      <a href="#" class="btn btn-outline-success sign-in">Sign in</a>

      <!-- New Account -->
      <div class="new-account">
        <span class="new-account-text text-muted">Don't have an account?</span>
        <a href="#" class="new-account-link text-success">Create Now &rarr;</a>
      </div>
    </div>
  </div>
</div>

<!-- Linking JS File -->
<script src="../../static/foodsaviour/login.js"></script>

<!-- Linking Bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>
{% endblock content%}
