{% extends "foodsaviour/base.html" %} {% load static %} {% block content %}

<!-- LInking CSS File -->
<link
  href="{% static 'foodsaviour/css/network.css'%}"
  rel="stylesheet"
  type="text/css"
/>

<!-- PROJECT -->
<!-- HTML BODY CONTENT -->
<!-- LOGIN FORM -->
<div class="body">
  <div class="form-container">


    
   

    <div class="topsection">
   <div class= "searchdiv">
          <form class="searchbox" action="/action_page.php" style="margin:left;width:500px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


      <div class="select">
        <select name="format" id="activity">
           <option selected disabled>Choose a activity</option>
           <option value="pdf">PDF</option>
           <option value="txt">txt</option>
           <option value="epub">ePub</option>
           <option value="fb2">fb2</option>
           <option value="mobi">mobi</option>
        </select>
     </div>

     <div class="select">
      <select name="format" id="labels">
         <option selected disabled>Choose a label</option>
         <option value="pdf">PDF</option>
         <option value="txt">txt</option>
         <option value="epub">ePub</option>
         <option value="fb2">fb2</option>
         <option value="mobi">mobi</option>
      </select>
   </div>

   <div class="select">
    <select name="format" id="filters">
       <option selected disabled>Choose a filter</option>
       <option value="pdf">PDF</option>
       <option value="txt">txt</option>
       <option value="epub">ePub</option>
       <option value="fb2">fb2</option>
       <option value="mobi">mobi</option>
    </select>
 </div>

    </div>

    
    <div class="tab">
      <button class="tablinks" onclick="opentab(event, 'disc')" id="defaultOpen">View All Discussions</button>
      <button class="tablinks" onclick="opentab(event, 'announce')">Announcements</button>
      <button class="tablinks" onclick="opentab(event, 'ideas')">Ideas</button>
      <button class="tablinks" onclick="opentab(event, 'polls')">Polls</button>
      <button class="tablinks" onclick="opentab(event, 'qa')">Q&A</button>
    </div>
    
    <div id="disc" class="tabcontent">
      <h3>Discussions</h3>
      <p>here is all the discussions</p>
    </div>
    
    <div id="announce" class="tabcontent">
      <h3>Announcements</h3>
      <p>here is all the Announcements</p>
    </div>
    <div id="ideas" class="tabcontent">
      <h3>Ideas</h3>
      <p>here is all the Ideas</p>
    </div>
    <div id="polls" class="tabcontent">
      <h3>Polls</h3>
      <p>here is all the Polls</p>
    </div>
    <div id="qa" class="tabcontent">
      <h3>Q&A</h3>
      <p>here is all the Q&A</p>
    </div>
  </div>
</div>

<!-- Linking JS File -->
<script src="{% static 'foodsaviour/js/network.js'%}"></script>

{% endblock content%}
