{% extends "foodsaviour/base.html" %} {% load static %} {% block content %}

<!-- LInking CSS File -->
<link
  href="{% static 'foodsaviour/css/resetPassword.css'%}"
  rel="stylesheet"
  type="text/css"
/>

<!-- PROJECT -->
<!-- HTML BODY CONTENT -->
<!-- USER LOGIN FORM -->
<div class="body">
  <div class="form-container">
    <form class="form mx-auto bg-white">
      <!-- Form Title -->
      <h5 class="form-title">Reset Password</h5>

      <div>
        <span
          ><p class="form-title-text mb-0">
            If the details entered ascribe to an account, your password will be
            reset.
          </p></span
        >
      </div>

     

      <!-- Email Form -->
      <div class="form-floating email-form">
        <input
          type="email"
          id="exampleInputEmail1"
          class="form-control input-text"
          placeholder="jordan@gmail.com"
        />
        <label for="exampleInputEmail1" class="form-label input-text"
          >Email:</label
        >
      </div>

      <!-- Password Form -->
      <div class="form-floating password-form">
        <input
          type="password"
          id="exampleInputPassword1"
          class="form-control input-text"
          placeholder="e.g. Kiwanuka"
        />
        <label for="exampleInputPassword1" class="form-label input-text"
          >New Password:</label
        >
      </div>

      <!-- Reset Button -->
      <a href="#" class="btn btn-outline-danger sign-in">Reset Password</a>
    </form>
  </div>
</div>

<!-- Linking JS File -->
<script src="{% static 'foodsaviour/js/resetPassword.js'%}"></script>

{% endblock content%}
<!-- Form text color, box border, box shadow, (form)font weight, form text center -->
