.navbar-collapse .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-collapse a {
        display: none;
    }

    .navbar-collapse a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar-collapse.responsive {
        position: relative;
    }

    .navbar-collapse.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-collapse.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}