{% extends "postlogin/base.html" %} {% load static %} {% block content %}

<!-- LInking CSS File -->
<link href="{% static 'postlogin/css/network.css'%}" rel="stylesheet" type="text/css" />


<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />


<div id="main" class="container-lg col-md-auto">
  <div class="container-fluid">

    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" id="searchinput" name="search" />


    </div>


    <div class="select">
      <select name="format" id="filters" class="form-select" name="category">
        <option value="organization">Filter by: Organization</option>
        <option value="Product" selected>Filter by: Product</option>
      </select>
    </div>
    </form>
    <div class="select">
      <select name="format" id="activity" class="form-select">
        <option selected disabled>Sort By: Latest Activity</option>
        <option value="pdf">Latest activity</option>
        <option value="txt">Date Created</option>
        <option value="epub">Top: Past day</option>
        <option value="fb2">Top: Past week </option>
        <option value="mobi">Top: Past month</option>
      </select>
    </div>

    <div>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#form">Create Post</button>
    </div>

  </div>

  <div class="container-md">
    <div class="tab container-sm">
      <button class="tablinks btn btn-light" onclick="opentab(event, 'disc')" id="defaultOpen">💬 All Posts</button><br>
      <button class="tablinks btn btn-light" onclick="opentab(event, 'announce')">📣 Sharing</button><br>
      <button class="tablinks btn btn-light" onclick="opentab(event, 'general')">💬 Recieving</button><br>
    </div>


    <script>
      $(document).ready(function () {
        $.ajax({
          type: 'GET',
          data: { csrfmiddlewaretoken: window.CSRF_TOKEN },
          url: "{% url 'getData' %}",
          success: function (response) {

            $('#disc').empty();
            for (var key in response.posts) {
              var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button'  class='btn btn-outline-success'>Comment</button></div></div>"
              $('#disc').append(temp);
            }

            $('#announce').empty();
            for (var key in response.posts) {
              if (response.posts[key].Type == "Sharing") {
                var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button'  class='btn btn-outline-success'>Comment</button></div></div>"
                $('#announce').append(temp);
              }
            }

            $('#general').empty();
            for (var key in response.posts) {
              if (response.posts[key].Type == "Recieving") {
                var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button  class='btn btn-outline-success'>Comment</button></div></div>"
                $('#general').append(temp);
              }
            }
          },
          error: function (response) {

          }
        })

        setInterval(function () {

          var z = document.getElementById("searchinput")

          if (z.value == "") {

            $.ajax({
              type: 'GET',
              data: { csrfmiddlewaretoken: window.CSRF_TOKEN },
              url: "{% url 'getData' %}",
              success: function (response) {

                $('#disc').empty();
                for (var key in response.posts) {
                  var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button'  class='btn btn-outline-success'>Comment</button></div></div>"
                  $('#disc').append(temp);
                }

                $('#announce').empty();
                for (var key in response.posts) {
                  if (response.posts[key].Type == "Sharing") {
                    var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button'  class='btn btn-outline-success'>Comment</button></div></div>"
                    $('#announce').append(temp);
                  }
                }

                $('#general').empty();
                for (var key in response.posts) {
                  if (response.posts[key].Type == "Recieving") {
                    var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button' ' class='btn btn-outline-success'>Comment</button></div></div>"
                    $('#general').append(temp);
                  }
                }
              },
              error: function (response) {

              }
            })
          }
          else {
            z.addEventListener("keyup", searc())
          }
          function searc() {
            var a = document.getElementById("searchinput").value;

            $.ajax({
              type: 'GET',
              data: { csrfmiddlewaretoken: window.CSRF_TOKEN },
              url: "{% url 'getData' %}",
              success: function (response) {
                for (var key in response.posts) {
                  var c = response.posts[key].product.toLowerCase();
                  var d = response.posts[key].product.toUpperCase();
                  if (c == a || response.posts[key].product == a || d == a ) {
                    var temp = "<div class='card'> <h5 class='card-header'>" + response.posts[key].product + " - " + response.posts[key].Quantity + " " + response.posts[key].Qunits + "</h5> <div class='card-body'> <h6 class='card-text'>" + response.posts[key].desc + "</h6> <p class='text-success'>" + response.posts[key].Type + "</p><button type='button' href='{% url 'comment' %}' class='btn btn-outline-success'>Comment</button></div></div>"
                    $('#disc').html("");
                    $('#disc').append(temp);
                  } else {

                  }
                }
              }
            })
          }
        }, 100);
      })

    </script>


    <div id="disc" class="tabcontent container-xl">

    </div>


    <div id="announce" class="tabcontent container-xl">

    </div>

    <div id="general" class="tabcontent container-xl">

    </div>
  </div>
</div>
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="createpost" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="product">Product Name</label>
            <input type="text" class="form-control" id="productname" name="product" aria-describedby="productname"
              placeholder="Apples">
          </div>
          <div class="form-group">
            <label for="type">Type</label><br />
            <select class="form-select" id="type" name="type" style="width: 10em">
              <option>Sharing</option>
              <option>Recieving</option>
            </select>
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label><br />
            <input type="text" class="form-control" id="quantity" name="quantity" style="width: 10em"
              placeholder="1000" />
            <label for="qunits">Units</label><br />
            <select class="form-select" id="qunits" name="qunits" style="width: 10em">
              <option>lbs</option>
              <option>kgs</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control rounded-0" id="description" name="description" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>




</script>


<script src="{% static 'postlogin/js/network.js'%}"></script>

{% endblock content%}