{% extends "postlogin/base.html" %}
{% block content %}
<section>
    <!--Welcome User-->
    <div class="container p-2">
        <h5 id="welcome"><b>Welcome back, [User's full name]!</b></h5>
        <p>Viewing as: [User's Role]</p>
    </div>

    <!--Progress Dashboard-->
    <div class="container p-2 text-center">
        <div class="row">
            <div class="col-8">
                <div class="five-metrics">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>Fresh Produce</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>2nd Metric</h6>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>3rd Metric</h6>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>4th Metric</h6>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>5th Metric</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="waste-saved">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5>-- lbs</h5>
                                <!--The -- needs to be replaced with data from db-->
                                <h6>Food Waste Saved</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Inventory-->
    <div class="container p-2">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center border-0">
                <h5 class="card-title"><i class="fa-solid fa-boxes-stacked"></i><b> Inventory</b></h5>
                <div class="dropdown">
                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                        <i class="fa fa-ellipsis-v" style="color: #000000;"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="#" class="dropdown-item">Manage</a>
                            <!--Need to create page that shows full inventory list with options to delete and edit data entries-->
                        </li>
                        <li>
                            <a href="#" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Add</a>
                            <!--Need to create a page that allows user to add inventory item to db-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive dataview">
                    <table class="table datatable ">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Quantity (lbs)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--Needs to be replaced with data from db-->
                                <!--If no data, display "No inventory"-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Recent-->
    <div class="container p-2">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center border-0">
                <h5 class="card-title"><i class="fa-regular fa-clock"></i><b> Recent</b></h5>
            </div>
            <div class="card-body">
                <div class="table-responsive dataview">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Session</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--Needs to be replaced with data from db-->
                                <!--If no data, display "No inventory"-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Add Inventory Modal-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Inventory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-form">
                        <label for="inputDescription" class="form-label">Description</label>
                        <input type="text" class="form-control text-input form-floating" id="description"
                            name="description">
                            <br>
                            <div class="form-group">
                                <label for="inputCategory" class="form-label">Category (select one)</label>
                                <select class="form-control" id="sel1">
                                  <option>Fresh Produce</option>
                                  <option>Metric #2</option>
                                  <option>Metric #3</option>
                                  <option>Metric #4</option>
                                  <option>Metric #5</option>
                                </select>
                              </div>
                        <br>
                        <label for="inputQuantity" class="form-label">Quantity (in lbs)</label>
                        <br>
                        <input type="text" class="form-control text-input form-floating" id="quantity"
                            name="quantity">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-2">
        <div class="card d-flex">
            <div class="card-header border-0">
                <h5 class="card-title"><b>Food Saving Techniques</b></h5>
                <!--We need to create a list of techniques for each metric-->
            </div>
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <select name="category" id="categoryList">
                        <option value="metric1">Fresh Produce</option>
                        <option value="metric2">Metric #2</option>
                        <option value="metric3">Metric #3</option>
                        <option value="metric 4">Metric #4</option>
                        <option value="metric 4">Metric #5</option>
                    </select>
                </div>
                <div class="col-8 p-4">
                    <div class="row">
                        <h6 id="method-number">Method #1</h6>
                        <!--This needs to be replaced with data from db-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <a href="#">Learn More</a>
                        <!--We need a page for each technique with full information-->
                    </div>
                    <hr>
                    <div class="row">
                        <h6 id="method-number">Method #2</h6>
                        <!--This needs to be replaced with data from db-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud...</p>
                        <a href="#">Learn More</a>
                        <!--We need a page for each technique with full information-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="carousel">
        <!--Carousel Template-->
        <div class="container-fluid">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carousel-img bd-placeholder-img-lg d-block w-100"
                            src="../../static/foodsaviour/images/pexels-pixabay-255501.jpg" alt="Slide 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Food Saviour</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="carousel-img bd-placeholder-img-lg d-block w-100" src="../../static/foodsaviour/images/pexels-anca-dorneanu-7912902.jpg" alt="Slide 2"></img>
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#aafffe"></rect>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Calculate</h5>
                            <p>An easy way to calculate and visualize how much food you have saved.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="../../static/foodsaviour/images/pexels-pixabay-414837.jpg" alt="Slide 3"></img>
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#a7ffe1"></rect>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Connect</h5>
                            <p>Connect with other organizations and join the trend to track and reduce food waste. </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
</section>
{% endblock content%}