{% extends "postlogin/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'postlogin/css/profile.css'%}">
<section>
    <div class="container p-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-transparent text-center">
                        <br>
                        <img class="profile_img" src="../../static/postlogin/images/blank-profile-picture.png">
                        <br>
                        <br>
                    </div>
                    <div class="card-body">
                        <p><b>[User Name]</b></p>
                        <p>[User email]</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header bg-transparent text-center">Profile</div>
                    <div class="card-body">
                        <p>Name: </p>
                        <p>Email: </p>
                        <p>Organization Name: </p>
                        <p>Role: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}