{% extends "postlogin/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'postlogin/css/profile.css'%}">
<section>
    <div class="container p-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-transparent text-center">
                        <br>
                        <img class="profile_img" src="../../static/postlogin/images/blank-profile-picture.png">
                        <br>
                        <br>
                    </div>
                    <div class="card-body">
                        <p><b>{{ request.session.FirstName }} {{ request.session.LastName }}</b></p>
                        <p>{{ request.session.Email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header bg-transparent text-center"><b>Profile</b></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p>Account Status: </p>
                            </div>
                            <div class="col-8">
                                {% if request.session.Status == "approve" %} 
                                    <p>Approved</p>
                                {% elif request.session.Status == "decline" %} 
                                    <p style="margin-bottom: 0;">Declined</p>
                                    <span style="font-size: 0.75em; color: red;">If this was a mistake, please contact your admin.</span>
                                {% else  %} 
                                    <p>Pending</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <p>Name: </p>
                                <p>Email: </p>
                                <p>Organization Name: </p>
                                <p>Role(s): </p>
                            </div>
                            <div class="col-8">
                                <p>{{ request.session.FirstName }} {{ request.session.LastName }}</p>
                                <p>{{ request.session.Email }}</p>
                                <p>{{ request.session.Organization }}</p>
                                <p>{{ request.session.Roles|title|cut:"["|cut:"]"|cut:"'" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}