{% extends "postlogin/base.html" %}
{% block content %}
<!--Food Saving Methods-->
<div class="container p-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-auto">
                        <label for="description">Description</label><br>
                        <input type="text" class="form-control" style="width: 500px;">
                    </div>
                    <div class="col-md-auto">
                        <label for="quantity">Quantity</label><br>
                        <input type="text" class="form-control" style="width: 75px;">
                    </div>
                    <div class="col-md-auto">
                        <label for="qunits">Units</label><br>
                        <select class="form-select" id="qunits">
                            <option>lbs</option>
                            <option>kgs</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <label for="percent">% Deviated to:</label><br>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto" id="percentcol">
                                <input type="text" class="form-control" id="clients" style="width: 75px;">
                            </div>
                            <div class="col d-flex align-items-center">Clients</div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="animalfeed" style="width: 75px;">
                            </div>
                            <div class="col d-flex align-items-center">Animal Feed</div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="compost/fert" style="width: 75px;">
                            </div>
                            <div class="col d-flex align-items-center">Compost/Fertilizer</div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="partnet" style="width: 75px;">
                            </div>
                            <div class="col d-flex align-items-center">Partner Network</div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="landfill" style="width: 75px;">
                            </div>
                            <div class="col d-flex align-items-center">Landfill</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}