{% extends "postlogin/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'postlogin/css/tracker.css'%}">


<!--Food Saving Methods-->
<div class="container p-2">
    <div class="card">
        <div class="card-header">
            <h3>Enter tracker data:</h3>
        </div>
        <div class="card-body">
            <div id="form-wrapper">
                <form class="tracker-data-entry" action="" method="post" id="tracker">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-auto">
                            <label for="description">Description</label><br>
                            <input type="text" class="form-control" id="description" name="description"
                                placeholder="Description">
                        </div>
                        <div class="col-md-auto">
                            <label for="category">Category</label><br>
                            <select class="form-select" id="category" name="category">
                                <option>Fresh Produce</option>
                                <option>Metric #2</option>
                                <option>Metric #3</option>
                                <option>Metric #4</option>
                                <option>Metric #5</option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <label for="quantity">Quantity</label><br>
                            <input type="text" class="form-control" style="width: 75px;" id="quantity" name="quantity">
                        </div>
                        <div class="col-md-auto">
                            <label for="qunits">Units</label><br>
                            <select class="form-select" id="qunits" name="qunits">
                                <option>lbs</option>
                                <option>kgs</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-auto">
                                    <label for="percent">% Deviated to:</label><br>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-auto" id="percentcol">
                                    <input type="number" class="form-control" id="clients" name="clients"
                                        style="width: 75px;" value="0" min="0" max="100" onkeyup="calculateLandfill()">
                                </div>
                                <div class="col d-flex align-items-center">Clients</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-auto">
                                    <input type="number" class="form-control" id="animalfeed" name="animalfeed"
                                        style="width: 75px;" value="0" min="0" max="100" onkeyup="calculateLandfill()">
                                </div>
                                <div class="col d-flex align-items-center">Animal Feed</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-auto">
                                    <input type="number" class="form-control" id="compost/fert" name="compost/fert"
                                        style="width: 75px;" value="0" min="0" max="100" onkeyup="calculateLandfill()">
                                </div>
                                <div class="col d-flex align-items-center">Compost/Fertilizer</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-auto">
                                    <input type="number" class="form-control" id="partnet" name="partnet"
                                        style="width: 75px;" value="0" min="0" max="100" onkeyup="calculateLandfill()">
                                </div>
                                <div class="col d-flex align-items-center">Partner Network</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-auto">
                                    <input type="number" class="form-control" id="landfill" name="landfill"
                                        style="width: 75px;" value="100" readonly>
                                </div>
                                <div class="col d-flex align-items-center">Landfill&nbsp;<span style="color: red; font-size: small;">(Do no enter value, this is auto-calculated)</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="d-flex justify-content-start">
                            <button class="save btn btn-outline-success" id="submit" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <h3>Database</h3>
            <button type="button" class="btn btn-outline-success" onclick="exportTableToCSV('data.csv')">Export CSV</button>
            <button type="button" class="btn btn-outline-success" onclick="exportTableToPDF('data.pdf')">Export PDF</button>
        </div>
        <div class="card-body">
            <table class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Units</th>
                        <th scope="col">% Clients</th>
                        <th scope="col">% Animal Feed</th>
                        <th scope="col">% Compost</th>
                        <th scope="col">% Partner Network</th>
                        <th scope="col">% Landfill</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Object %}
                    <tr>
                        <td>{{i.0}}</td>
                        <td>{{i.1}}</td>
                        <td>{{i.2}}</td>
                        <td>{{i.3}}</td>
                        <td>{{i.4}}</td>
                        <td>{{i.5}}</td>
                        <td>{{i.6}}</td>
                        <td>{{i.7}}</td>
                        <td>{{i.8}}</td>

                        <td>
                            <button type="button" class="btn btn-outline-info btn-sm" id="generate">Generate Graph</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="{% static 'postlogin/js/tracker.js'%}"></script>
{% endblock content%}